<h1>Editando factura</h1>

<% content_for(:controls) do %>
<%= controls do |c|
         c.item "Ver", [@factura.cliente, @factura], :icon => "application_view_detail"
         c.item "Volver", cliente_facturas_path(@factura.cliente), :icon => "application_go"
end %>
<%end%>

<%= render 'form' %>
