<h1>Nuevo recibo</h1>

<% content_for(:controls) do %>
<%= controls do |c|
         c.item t('scaffold.actions.back', :item => Recibo.model_name.human).titlecase,  cliente_path(@recibo.cliente), :icon => "application_go"
end %>
<%end%>

<%= render 'form' %>